@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.card {
  width: 50%;
  height: 50%;
  cursor: pointer;
  position: relative;
}

.tagline {
  position: absolute;
  padding: 10px;
  top: 40%;
}

.blue {
  background: #3498db;
}

.green {
  background: #2ecc71;
}

.turquoise {
  background: #1abc9c;
}

.orange {
  background: #f39c12;
}

.card h2, h4 {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
}

.card:hover .text {
  transform: translateY(0);
}

.text {
  display: block;
  transition: transform 0.5s;
  transform: translateY(100%);
}

.subtext {
  transition-delay: 0.2s;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
