@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 15px;
  background-color: #f2f3f5;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #f60;
  position: fixed;
  width: 100%;
  padding: 20px 30px;
  color: #fff;
  top: 0;
  left: 0;
}

.content {
  padding-top: 75px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.experiments-list {
  background-color: #fff;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

.experiments-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.experiment {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 18px 25px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 20px;
}

.count {
  color: #f60;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0 20px 0 10px;
}

.title a {
  color: #34495e;
  font-weight: 700;
  text-decoration: none;
}

.annotation {
  font-size: .85em;
  color: #828282;
}

@media (max-width: 600px) {
  .content {
    padding-top: 60px;
  }
}